
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.section-one{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 50px;
    background-color: #1f2937;
    color: white;
}

.section-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 50px;
}

.box{
    border: solid red 1px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-three{
    background-color: #e5e7eb;
    padding: 50px;
}

#quote{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.section-four{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.call-to-action{
    display: flex;
    gap: 50px;
    width: 500px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #1f2937;
    color: white;
}